

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.experience{
   position: fixed; /* So its not scrolling around and stays on the screen */
  width: 100vw; /* takes the entire viewport width */
  height: 100vh; /* takes the entire viewport height */
}

.experience.canvas{
  width: 100%;
  height: 100%; 
}

/* .resetcamerabutton{
  position: inherit;
  width: 5%;
  height: 5%;
  top: 3%;
  right: 2%;
  padding:0.3em 1.2em;
  margin:0 0.1em 0.1em 0;
  border:0.16em solid rgba(57, 58, 58, 0.308);
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#ececec;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  text-align:center;
  transition: all 0.2s;
  background-color:#c42a2a
  }
  .resetcamerabutton:hover{
  border-color: rgb(235, 233, 233);
  }
  @media all and (max-width:30em){
  .resetcamerabutton{
  display:block;
  margin:0.2em auto;
  }
  } */



/* CSS */
.resetcamerabutton {
  
  top: 3%;
  right: 3%;
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: inherit;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.resetcamerabutton:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.resetcamerabutton:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.resetcamerabutton:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}